<%- partial('./header/header', {title: title}) %>

<body>
<%- partial('./header/nav') %>
<div class="wrap">
	<%- partial('./common/msg') %>
<div class="content">
	<%for(var i = 0;i < articles.length;i++ ){%>
	<article class="article">
		<h3><a href="/articles/<%=article._id%>" title="<%=article.title%>"><%=article.title%></a></h3>
		<p><%=article.body%></p>
		<div class="meta"><span class="muted"><%=article.createdAt%></span>&nbsp; - &nbsp;<span>Author &nbsp;</span><a
					href="/users/<%=article.user._id%>"><%=article.user.username%></a>
		</div>
	</article>
	<%}%>
</div>
</div>
</body>
</html>